
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ddd;
}
 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 
.App {
  width: 800px;
  margin: 30px;
}
 
.cb-centermode {
  margin-bottom: 20px;
  display: block;
}
.cb-centermode input {
  margin-right: 7px;
}
 
/* card style start */
 
.img_card {
  border-radius: 4px;
  background: #f5f5f5;
  color: #666;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
 
.img_card:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
 
.img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
 
.card_body {
  padding: 15px;
}
 
.card_title {
  font-size: 20px;
  font-weight: 600;
}
 
.card_text {
  margin-top: 10px;
}
 
/* card style end */
 
 
/* carousel slider style start */
 
.slick_slide > div {
  margin: 0 10px;
}
 
.slick_list {
  margin: 0 -10px;
}
 
.slick_slide *:focus{
  outline: none;
}