

.box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
 
   /* margin-top: 2rem; */
}

.box > div  p {
text-align: left;
/* margin-bottom: 8px; */
    
}

.box > div > div p:hover{
    text-decoration: underline;
   
}
.social {
    display: flex;
    /* margin: auto; */
    width: 95%;
  }
  .social > div > img {
    width: 60px;
    margin: auto;
  }
  