.boxdata {
  width: 0px;
  height: auto;
  border: 1px solid rgb(0, 0, 0);
  padding: 15px;
  padding-bottom: 4rem;

}

.Login >  div > div > p{
  margin-bottom: 20px;
}

.Login > div > p{
  line-height: 35px;
}

.Login > div {
  padding: 1rem;
  text-align: left;
}

.Login P:hover {
  text-decoration: underline;
}

.flexbox {
  display: flex;
  width: 100%;
  /* margin: auto; */

}

.flexbox > div > input {
  /* width: 100%; */
  text-decoration: overline;
  border: 1px solid;
}



.flexbox > div {
  width: 100%;
 
  
}









.flexbox > div:nth-child(2) {
  margin-left: -5rem;
} 


.imgphone > div {
  margin: auto;
}


.imgphone img {
  width: 65%;

}
.imgphone {
  display: flex;
  margin: auto;
}
.imgphone > div:nth-child(1) {
 width: 30%;
}

