

.box{
    display: grid;
}

.box > div  p {
text-align: left;
line-height: 38px;

}

.box > div > div p:hover{
    text-decoration: underline;
   
}
.social {
    display: flex;
    width: 95%;
  }
  .social > div > img {
    width: 60px;
    margin: auto;
  }
  